.wrapper {
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.section {
  margin: 10px 0;
}

.btn,
.btn-disabled {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #9d80fe;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 120ms all ease-in-out;
  margin: 0 5px;
  transition: all ease-in-out 200ms;
}

.btn-disabled {
  background-color: gray;
  cursor: not-allowed;
}

.btn:hover {
  background-color: #7761be;
}

.btn_crit {
  background-color: #fe8080;
}

.btn_crit:hover {
  background-color: #be6161;
}

.input,
.input-wrong {
  font-size: 18px;
  padding: 5px 10px;
  outline: none;
  border: none;
  background-color: #fff1;
  border-bottom: 3px solid #7761be;
  min-width: 300px;
  transition: all ease-in-out 100ms;
}

.input-wrong {
  border-bottom: 3px solid red;
  color: red;
}

.text {
  font-size: 17px;
  margin: 10px 0;
}

.player {
  margin-top: 70px;
}

.title-hide {
  user-select: none;
  -webkit-user-drag: none;
}

.title-success {
  color: green;
  user-select: none;
}

.title-failed {
  color: red;
  user-select: none;
}

.lifes {
  display: flex;
}
